<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prism.css') }}">
    <title>Search</title>
</head>
{% if data %}
<body>
    <ul class="list">
        <li id="act" class="link"><a  class="active" href="#">Home</a></li>
        <li  class="link bg" href="#"><a  href="#">Blog</a></li>
        <li  class="link " href="#"><a  href="#">About</a></li>
        <li id="lg" class="sw">Rana</li>
        <li id="lg" class="gpt">GPT</li>
    </ul>
    <div class='container'>
<br/>
{% with messages = get_flashed_messages(with_categories=True) %}
{%  if messages %}
    {% for category , message in messages %}
    <div class="alert" role="alert">
        {{ message }}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
    
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<pre >
<code class="language-{{ lang }} line-numbers"  >
{{ data }}

</code>

</pre>
<br /><br />
<form action="{{ url_for('home') }}" method="POST">
    <p>🤖 &nbsp;Ask Any Question :</p>
    <div class="mb-3">
        <textarea class="form" name="code" placeholder="E.g Write an essay on Allama Iqbal" rows="3"></textarea>
    </div>
    <div class="right">
        <button type="submit" class="button button1">Submit</button>
    </div>
</form>
</div>
</body>

{% else %}

<body>
<ul class="list">
    <li id="act" class="link"><a  class="active" href="#">Home</a></li>
    <li  class="link bg" href="#"><a  href="#">Blog</a></li>
    <li  class="link " href="#"><a  href="#">About</a></li>
    <li id="lg" class="sw">Rana</li>
    <li id="lg" class="gpt">GPT</li>
</ul>

<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<div class='container'>
    <pre>
<code class="line-numbers language-python">
# This is example code . You can ask the AI anything.
if name == "Jhon":
    print("Hello Jhon")
else:
    print("Hello There")

</code>
</pre>
<br /><br />
<form action="{{ url_for('home') }}" method="POST">
    <p>🤖 &nbsp;Ask Any Question :</p>
    <div class="mb-3">
        <textarea class="form" name="code" placeholder="E.g Write an essay on Allama Iqbal" rows="3"></textarea>
    </div>
    <div class="right">
        <button type="submit" class="button button1">Submit</button>
    </div>
</form>
</div>
</body>

{% endif %}
</html>